@import "variables1.scss";

#overlay,
#inscr-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
  z-index: 99;

  #close-overlay,
  #insc-close-overlay {
    color: #fff;
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  padding: 4%;
  background-color: $color2;
  border-radius: $font-size2;
  font-family: $font;
  color: $color4;
  width: 40%;

  input,
  button {
    width: 100%;
    border: none;
    margin-top: 1%;
    font-family: $font;
    color: $color3;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    border-radius: 80px;
    &:focus {
      outline: 0;
    }
  }
  button {
    background-color: $color1;
    border: none;
    width: 50%;
    margin-top: $font-size2;
    border-radius: $font-size2;
    font-family: $font;
    font-size: $fnt-size1;
    text-align: center;
  }
}
.fle {
  display: flex;
}

@media all and (max-width: 768px) {
  .form {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
  }
}
