$font: lora, Helvetica, Arial, sans serif;
$color-white: white;
$color-black: black;
$fnt-size1: 16px;
$font-sizee: 20px;
$font-size2: 14px;
$font-size3: 12px;
$font-size5: 50px;
$font-weight: 400;
$color1: #435061;
$color2: #637285;
$color3: #858585;
$color4: #eee;
$letter-space: 1px;
